{# templates/about.twig #}
{% extends 'layout.twig' %}

{% block body %}
  <h1>Acerca de este blog</h1>
  <p>
    ¡Bienvenido a Symblog! En este blog encontrarás artículos sobre programación, tecnología
    y todo lo relacionado con el desarrollo web. Nuestro objetivo es compartir conocimientos
    y recursos que puedan ayudarte en tus proyectos.
  </p>
  <p>
    Aquí, además, te mantendremos al tanto de las últimas novedades y buenas prácticas 
    en el mundo del software.
  </p>
{% endblock %}

{% block sidebar %}
  {% include 'sidebar.twig' %}
{% endblock %}
